.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 400;
  color: #1c1c1c;
  text-align: center;
}
