.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.gallery__item {
  display: flex;
}

.gallery__image {
  max-width: 450px;
  width: 100%;
  display: flex;
  object-fit: contain;
}
