.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.gallery__item {
  display: flex;
}

.gallery__image {
  max-width: 450px;
  width: 100%;
  display: flex;
  object-fit: contain;
}

.gallery__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__modal-image {
  width: 100%;
  height: max-content;
  object-fit: contain;
  cursor: grab;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  min-width: 100vw;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-button-prev {
  z-index: 5;
}

.swiper-button-next {
  z-index: 5;
}
